@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workout Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">

    <div ng-controller="app.layout.ShellController as shell">
        <header>
            <div ng-include="'/app/layout/topnav.html'"></div>
        </header>

        <ui-view></ui-view>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ng")
</body>
</html>
